{% extends 'base.html.twig' %}
{% block body %}

<div class="form text-center mt-3 vp">
    <h1 class="mb-3">Default values</h1>
    <div class="form vp">
        {{ form(form) }}
    </div>
    <div class="mb-5"></div>
</div>

{% endblock %}