{% extends 'base.html.twig' %}
{% block body %}
Hello From AdminBundle!
<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" href="/admin/add"> Add Glass <span class="sr-only">(current)</span></a>
    </li>
</ul>
{% endblock %}