/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* Color palette */
.white-text {
    color: #fff;
}
.orange-text {
    color: #FF3D00;
}

.grey-text {
    color: #C1C1C1;
}

.black-text {
    color: #000000;
}

.red-text {
    color:#ff0000;
}

/* End Color palette */

/* General */
.wrapper {
    display: flex;
    align-items: stretch;
}

.row {
    margin: 0;
}

.col {
    margin: 0;
}

.vp {
    padding-top: 2vh;
}

/* End General */

/* Sidebar */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;    
    background: #ff6347;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ff4500;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #000000;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #000000!important;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
    margin-bottom: 0.4em!important;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/* End Sidebar */

/* Home */

.banner {
    width: 100%;
    height: 100%;
}

.container-home {
    margin: 0;
    padding: 0;
}

.item-glass img {
    width: 80%;
    height: 80%;
}

.color-back {
    background-color: #fff;
    margin-bottom: 4em;
}

.star {
    margin-bottom: 2em;
}

.title-home {
    font-weight: 900;
    font-size: 1em;
}

.price {
    font-weight: 900;
    font-size: 1.8em;
}

.border {
    border: 10px solid #C1C1C1!important;
    margin-top: 15px;
}

.shop-icons {
    margin: 10px 0 2px 0;
}

.custom-control {
    margin: 15px 0 20px 0;
}

.center {
    display: block;
    margin: 0 auto 0 auto;
    width: 50%!important;
}

.banner-buttons {
    justify-content: space-between;
    margin: 2vh 0 2vh 0;
}

.btn-home {
    background-color: #FF3D00;
    color: #FFFFFF;
    font-size: 1.2em;
    max-width: 15vw;
    min-width: 22vw;
}

.small-nav {
    font-size: 10px;
}

.form-control {
    width: 25vw!important;
}

.form {
    font-size: 20px;
}

/* End Home */


/* Admin */
.btn-add {
    background-color: #FF3D00;
}

.btn-danger {
    color: #fff!important;
}
/* End Admin */


/* Specific Glass */
.united p{
    display: inline-block;
    vertical-align: top;
}

.title {
    font-weight: 900;
    font-size: 1.8em;
}

.small-border {
    border: 2px solid #C1C1C1!important;
}

.heart {
    max-width: 5vw;
}

.cart {
    max-width: 44.3%!important;
}

.social-logo {
    width: auto;
    height: auto;
    margin-bottom: 1vh;
}

.bottom-image {
    width: 43vw;
    height: 10vh;
    margin-bottom: 1vh;
}

.btn-buy {
    background-color: #FF3D00;
    font-size: 2em;
    width: 175px;
    border-radius: 20px;
}
/* End Specific Glass */

/* Footer */
.container-fluid {
    background: linear-gradient(
        rgba(20,20,20, .7), 
        rgba(20,20,20, .8)),
        url("../img/pexels-photo-708392.jpeg") center center no-repeat;
}

.small-text-size {
    font-size: 11px;
}

.footer-form-control {
    width: 40vw!important;
}

.normal-form-control {
    width: auto;
}

.separator {
    padding: 0;
    width: 20vw;
}

.hr-separator {
    background-color: #fff;
    height: 0.1vh;
}

.cart-separator {
    padding: 0;
}

.hr-cart-separator {
    background-color: #FF3D00;
    height: 1vh;
}

/* End Footer*/


/* Logo Cart*/

.logo-cart {
    width: 100%;
    height: 100%;
}

.btn-delivery {
    background-color: #FF3D00;
    font-size: 1em;
}

.btn-cart {
    background-color: #FF3D00;
    font-size: 12px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

/* End Logo Cart*/


/* Login */
.container-login {
    min-height: 100vh;
    background: linear-gradient(
        rgba(20,20,20, .7), 
        rgba(20,20,20, .8)),
        url("../img/login-back.jpg") center center no-repeat;
}

/* End Login*/


/* Registry */
.container-registry {
    min-height: 100vh;
    background: linear-gradient(
        rgba(20,20,20, .7), 
        rgba(20,20,20, .8)),
        url("../img/registry-back.jpg") center center no-repeat;
}

/* End Registry*/

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .btn-home {
        background-color: #FF3D00;
        color: #FFFFFF;
        font-size: 0.7em;
        max-width: 15vw;
        min-width: 23vw;
    }
    .col-md-4 {
        flex: 0!important;
    }
}